* {
	font-family: 'Raleway', sans-serif !important;
	background-color: rgb(43,43,43);
}


/* clases reutilizables */
.vh100 {
	height: 100vh;
}

.container-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}

.container-flex{
	display: flex;
	justify-content: center;
}

h1, h3{
	color: rgb(176,120,70);
	text-align: center;
}

/* estilos menu */
.container-sub{
	display: flex;
	justify-content: space-between;
}

.container-sub span{
	border:0.1rem solid rgb(255, 255, 255);
	background-color: rgba(50, 50, 54, 0.3);
	width: 10vw;
	height: 6vh;
}

.container-sub hr{
	border: 0.1rem solid rgb(255, 255, 255);
	width: 80vw;
}

.menu{
	display: inline-flex;
	max-width: 30vw;
	height: 15vh;
}

.menu img{
	margin: 0.2em;
}