<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Foodmap</title>
</head>

<body>
	<section class="section-menu">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Foodmap</h1>
					<div class="container-sub">
						<span class="glyphicon glyphicon-stop"></span>
						<hr class="line">
						<span class="glyphicon glyphicon-stop"></span>
					</div>
					<br>
					<figure>
						<img src="../assets/images/mapa.png" alt="mapa" class="img-responsive">
					</figure>
					<h3>Comida cerca de ti</h3>
					<select name="restaurant" id="" class="btn btn-default dropdown-toggle col-xs-12">
						<option value="1">La Tranquera BBQ</option>
						<option value="2">El 10 carnes y vinos</option>
						<option value="3">Baco y Vaca</option>
					</select>
					<figure class="menu">
						<img src="../assets/images/bbq.png" alt="bbq" class="img-responsive">
						<img src="../assets/images/lomo.png" alt="lomo" class="img-responsive">
						<img src="../assets/images/vapor.png" alt="vapor" class="img-responsive">
					</figure>
				</div>
			</div>
		</div>
	</section>
</body>

</html>