<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Foodmap</title>
</head>

<body>

	<section class="section-restaurant container-flex-column vh100">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 plato1">
					<figure>
						<img src="../assets/images/bbq.png" alt="bbq" class="img-responsive">
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 plato2">
					<figure>
						<img src="../assets/images/costillas.png" alt="costillas" class="img-responsive">
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 plato3">
					<figure>
						<img src="../assets/images/vapor.png" alt="vapor" class="img-responsive">
					</figure>
				</div>
			</div>
			<input class="btn btn-default" type="submit" value="Realizar Pedido">
			<br>
		</div>
	</section>

</body>
<script src="../vendors/js/jquery-3.2.1.min.js"></script>
<script src="../js/data.js"></script>
<script src="../js/restaurant.js"></script>

</html>